*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url(back_enhanced.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.cont{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#cel{
    border-color: transparent;
    box-shadow: 1px 2px 5px 0px #EF9A9A;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}
#cel:focus{
    outline-color: #fe9792;
}
h2{
    align-self: center;
    margin-bottom: 40px;
}
#submit{
    border: none;
    box-shadow: 1px 2px 5px 0px #EF9A9A;
    height: 30px;
    background-color: #fe9792;
    border-radius: 5px;
    color: black;
}
#submit:hover{
    opacity: 0.6;
    cursor: pointer;
}
label{
    font-weight: 600;
}
form{
    margin: 10px;
}
div{
    margin: 10px;
    font-weight: 600;
}